#box1 {color:red;font-size:100px; margin:auto; background-color:black; border: 2px dashed white; width:250px; height:100px;}
.apologies {margin:0px 550px 0px 550px; color:yellow; background-color:purple;}
.signature {color:black; font-size:50px; margin: 0px 550px 0px 559px; border: 2px solid black;}