/*
	style.css
	Donald Leung's Main Stylesheet
	(c) Donald Leung.  All rights reserved.
*/

/* Featured Projects */

.projects, .coders {
	text-align: center;
}

/* Email Form */
#email-body {
	resize: none;
	height: 200px;
}

/* Footer Icons */

#icon-divider {
	text-align: center;
}

/* Notifications Section */

#no-notifications {
	font-style: italic;
	display: none;
}

.personal-notifications, .website-notifications {
	display: block;
}
