<!DOCTYPE HTML>
<html>
	<head>
		<title>Demo: Off-Canvas Navigation</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="css/common.css" />
		<script src="js/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script>
			skel.init({
				reset: 'full',
				breakpoints: {
					large: {
						media: '(min-width: 1025px) and (max-width: 1280px)',
						containers: 960
					},
					medium: {
						media: '(min-width: 769px) and (max-width: 1024px)',
						containers: '90%'
					},
					small: {
						media: '(max-width: 768px)',
						containers: '95%',
						grid: {
							collapse: true
						}
					},
					xsmall: {
						media: '(max-width: 480px)'
					}
				},
				plugins: {
					layers: {
						titleBar: {
							position: 'top-left',
							width: '100%',
							height: 44,
							html: '<div class="toggle" data-action="toggleLayer" data-args="navPanel">&equiv;</div>' +
							'<span class="title">Untitled</span>'
						},
						navPanel: {
							position: 'top-left',
							width: 300,
							height: '100%',
							orientation: 'vertical',
							side: 'left',
							hidden: true,
							animation: 'pushX',
							clickToHide: true,
							html: '<a href="#">Home</a>' +
							'<a href="#">Features</a>' +
							'<a href="#">Sign Up</a>' +
							'<a href="#">About</a>' +
							'<a href="#">Contact</a>'
						}
					}
				}
			});
		</script>
		<style>

			/* Give main wrapper a little extra top padding to compensate for the titlebar */

				#main {
					padding-top: 6em;
				}

		</style>
	</head>
	<body>
		<div id="main" class="container">
			
			<!-- Header -->
				<header id="header">
					<h1>Demo: Off-Canvas Navigation</h1>
					<p>Title bar + off-canvas navigation (click the &equiv; in the upper-left corner).</p>
				</header>

			<!-- Content -->
				<div class="row">
					<div class="12u">
						<h3>Welcome!</h3>
						<p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat commodo eu sed ante lacinia. Sapien a lorem in integer ornare praesent commodo adipiscing arcu in massa commodo lorem accumsan at odio massa ac ac. Semper adipiscing varius montes viverra nibh in adipiscing blandit tempus accumsan.</p>
					</div>
				</div>
				<div class="row">
					<div class="4u">
						<h3>Feature 1</h3>
						<p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit tempus accumsan.</p>
					</div>
					<div class="4u">
						<h3>Feature 2</h3>
						<p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit tempus accumsan.</p>
					</div>
					<div class="4u">
						<h3>Feature 3</h3>
						<p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit tempus accumsan.</p>
					</div>
				</div>
				<div class="row">
					<div class="8u">
						<h3>Content</h3>
						<p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat commodo eu sed ante lacinia. Sapien a lorem in integer ornare praesent commodo adipiscing arcu in massa commodo lorem accumsan at odio massa ac ac. Semper adipiscing varius montes viverra nibh in adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat commodo eu sed ante lacinia. Sapien a lorem in integer ornare praesent commodo adipiscing arcu in massa commodo lorem accumsan at odio massa ac ac. Semper adipiscing varius montes viverra nibh in adipiscing blandit tempus accumsan.</p>
					</div>
					<div class="4u">
						<h3>Sidebar</h3>
						<p>In arcu accumsan arcu adipiscing accumsan orci ac. Felis id enim aliquet. Accumsan ac integer lobortis commodo ornare aliquet accumsan erat tempus amet porttitor. Ante commodo blandit adipiscing integer semper orci eget. Faucibus commodo adipiscing mi eu nullam accumsan morbi arcu ornare odio mi adipiscing.</p>
					</div>
				</div>

			<!-- Footer -->
				<footer id="footer">
					&copy; n33. <a href="/license">MIT licensed</a>.
				</footer>

		</div>
	</body>
</html>