h1 {font-family: 'Gloria Hallelujah', Verdana, Garamond, Arial, serif, sans-serif, cursive; font-size: 50px; color: black;}
#unit_circle {border-radius: 10px; border: 2px solid blue;}
#unit_circle_2 {border-radius: 10px; border: 2px solid blue;}